<div class="content-in-footer mat-card mat-focus-indicator create-token-container mx-auto">
  <div class="container">
    <div class="row row-footer">
      <div class="col-md-4 col-12 mb-3">
        <p>Midas.</p>
        <p>© {{year}} All rights reserved.</p>
      </div>
      <div class="col-md-4 col-12 mb-3">
        <p>Integrates</p>
        <img class="chainlink-image" src="assets/chainlink.jpg" alt="Chainlink partnership logo" />
      </div>
      <div class="col-md-4 col-12 mb-3">
        <p>Network supported</p>
        <div style = "text-align: center;">
          <img src="assets/bsclogo.png" alt="BSC" />
          <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png" alt="Eth" />
          <img src="assets/avalanche.png" alt="AVALANCHE" />
          <img src="assets/polygon.png" alt="POLYGON" />
          <img src="assets/fantom.png" alt="Fantom" />
          
        </div>
      </div>
    </div>
  </div>
</div>