.content-in-footer {
  position: relative;
  // height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 16px !important;
  background-color: rgba(32, 17, 0, 0.785);

  span {
    font-size: 1.2rem;
    font-weight: bold;
    color: white !important;
    margin-left: 1vh;
    margin-bottom: 15px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 5px;

    &.chainlink-image {
      width: 125px;
      height: 75px;
    }
  }

  .row-footer {
    >div {
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    p {
      margin-bottom: 0rem;
      text-align: center;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 68vw;

    img {
      width: 40px;
      height: 40px;
      margin-left: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    width: 58vw;

    img {
      width: 32px;
      height: 32px;
      margin-left: 15px;
      margin-bottom: 4px;
    }
  }

  @media (max-width: 480px) {
    width: 100%;

    img {
      width: 28px;
      height: 28px;
      margin-left: 15px;
      margin-bottom: 3px;
    }
  }
}