//input outline color
:host ::ng-deep .mat-form-field-outline:not(:invalid) {
  color: white;
}

.earn-form-container {
  backdrop-filter: blur(3px) saturate(150%);
  -webkit-backdrop-filter: blur(3px) saturate(150%);
  background-color: rgba(32, 17, 0, 0.785);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 60%;

  box-shadow: 0 0 40px rgba(255, 255, 255, 0.257),
    /* outer white */
    -10px 0 60px rgba(255, 0, 255, 0.7),
    /* outer left magenta */
    10px 0 60px rgba(0, 255, 255, 0.7);
}

.mat-card-title {
  color: bisque;
}

.create-tokenButton {
  width: 100%;
  border-radius: 16px;
  font-size: 1.5rem;
  padding: 0.8rem;
  background: #C76F11 !important;
}

.blockInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 5px;
  line-height: 1.5;

  b,
  span {
    color: #FFB457;
  }
}

@media screen and (max-width: 768px) {
  .earn-form-container {
    width: 90%;
  }

  .mat-card-title {
    font-size: 22px;
  }

  .blockInfo {

    b,
    span {
      font-size: 13px;
    }
  }
}

@media (max-width: 480px) {
  .earn-form-container {
    width: 100%;
  }

  .mat-card-title {
    font-size: 20px;
  }

  .blockInfo {

    b,
    span {
      font-size: 11px;
    }
  }
}