<div style="height: 15px"></div>
<div style="text-align: center;" class="mx-auto">
  <h4 style="color: white;">Earn</h4>
</div>
<div style="height: 30px"></div>
<mat-card class="earn-form-container mx-auto rainbow-shadow">
  <mat-card-title>System Info</mat-card-title>
  <div class="blockInfo">
    <span><b>Number CPU Core available : </b><span>4</span></span>
    <span><b>Used of CPU cores : </b><span>4</span></span>
  </div>

  <mat-card-title>Network Info-1</mat-card-title>
  <div class="blockInfo">
    <span><b>Number Nodes : </b><span>3</span></span>
    <span><b>Prague : </b><span>1</span></span>
    <span><b>Kiev : </b><span>1</span></span>
    <span><b>Singapour : </b><span>1</span></span>
  </div>

  <mat-card-title>Node Owner</mat-card-title>
  <div class="blockInfo">
    <span><b style="overflow-wrap: break-word">0x6BB7cbb2965C108db26edC911045Fe27Ab599104</b></span>
    <span><b>Balance : </b><span>932 $ZOE</span></span>
  </div>

  <mat-card-title>Network Info-2</mat-card-title>
  <div class="blockInfo">
    <span><b>Send : </b><span>1732 M</span></span>
    <span><b>Received : </b><span>1343 M</span></span>
    <span><b>Duration : </b><span>19:20:04</span></span>
    <span><b>Paid : </b><span>1 $ZOE = 2.52$</span></span>
  </div>
</mat-card>