// mat-icon-stepper selected color change
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: red !important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ffffff !important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #FFB457 !important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: white !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: white !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6) !important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: red !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red !important;
}

.config-token-container {
  backdrop-filter: blur(3px) saturate(150%);
  -webkit-backdrop-filter: blur(3px) saturate(150%);
  background-color: rgba(32, 17, 0, 0.785);
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 60%;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.257),
    /* outer white */
    -10px 0 60px rgba(255, 0, 255, 0.7),
    /* outer left magenta */
    10px 0 60px rgba(0, 255, 255, 0.7);
}

.create-tokenButton {
  width: 100%;
  border-radius: 16px;
  font-size: 1.5rem;
  padding: 0.8rem;
  background: #C76F11 !important;
}

.enable-on-contract {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .trueRadio {
    margin-right: 10px;
  }
}

::ng-deep .mat-radio-outer-circle {
  border-color: white;
}

::ng-deep .mat-radio-container {
  margin-left: 10px;
}

p {
  width: 100%;
}

.full-width-field>button {
  margin-left: 1.2vw;
}

.max-price-icon {
  width: 1rem;
  height: 1rem;
  font-size: inherit;
  vertical-align: baseline;
}

.tokenInfo {
  display: flex;
  justify-content: center;
}

.customForm {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1024px) {
  .config-token-container {
    width: 80%;
  }

  .mat-raised-button {
    min-height: 37px !important;
    min-width: 70px !important;
  }

  .mat-form-field-subscript-wrapper {
    position: unset !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .config-token-container {
    width: 90%;
  }

  .mat-raised-button {
    min-width: 70px;
  }
}

@media (max-width: 480px) {
  .config-token-container {
    width: 100%;
  }

  .mat-raised-button {
    min-width: 70px;
  }
}