:host ::ng-deep .mat-form-field-outline:not(:invalid) {
  color: white;
}

.remove-liquidity-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.glassContainer h5 {
  margin-bottom: 0;
  color: white;
}

.liquidity-form-container {
  backdrop-filter: blur(3px) saturate(150%);
  -webkit-backdrop-filter: blur(3px) saturate(150%);
  background-color: rgba(32, 17, 0, 0.785);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 60%;

  box-shadow: 0 0 40px rgba(255, 255, 255, 0.257),
    /* outer white */
    -10px 0 60px rgba(255, 0, 255, 0.7),
    /* outer left magenta */
    10px 0 60px rgba(0, 255, 255, 0.7);
}

@media screen and (max-width: 1024px) {
  .liquidity-form-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .liquidity-form-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .liquidity-form-container {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .mat-raised-button {
    min-width: 50px !important;
    padding: 0 9px !important;
  }
}